.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  overflow-x: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  background-color: white;
  padding: 40px 40px;
  position: relative;
  width: 96%;
  height: 20px;
}
.HeaderLinks{
  position: relative;
  bottom: 38px;
  left: 500px;
  font-weight: bold;
}
.HomeLink{
  left: 20px;
  position: relative;
}
.AboutLink{
  position: relative;
  left: 40px;
}
.MenuLink{
  position: relative;
  left: 60px;
}

.ReservationLink{
  position: relative;
  left: 80px;
}
.OnOrderLink{
  position: relative;
  left: 100px;
}
.LoginLink{
  position: relative;
  left: 120px;
}
.Lemon{
  height: 50px;
  position: relative;
  top: 20px;
}
.headerButtonTwo{
  border: none;
  background: none;
  padding: none;
}
.Nav{
  background-color: rgb(49, 80, 68);
  padding: 2% 2%;
  width: 96%;
  height: 290px;
}
.NavContent{
  position: relative;
  left: 510px;
}
.name{
  position: relative;
  bottom: 30px;
  font-size: 43px;
   color: rgb(235, 202, 20);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.chicago{
  position: relative;
  bottom: 50px;
  color: white;
  font-family: roboto;
}
.desc{
  position: relative;
  bottom: 40px;
  width: 20%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.reserve{
  position: relative;
  background-color: rgb(243, 209, 15);
  width: 190px;
  height: 60px;
  bottom: 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: black;
}
.firstImg{
position: relative;
width: 325px;
bottom: 330px;
left: 870px;
height: auto;
overflow: hidden;
border-radius: 20px;
}
.devliv{
  left: 550px;
  top: 520px;
  position: absolute;
}
.OnlineMenbut{
  background-color: rgb(243, 209, 15);
  border-radius: 10px;
  border: none;
  width: 190px;
  height: 60px;
  font-weight: bold;
  font-size: 15px;
  left: 1035px;
  top: 70px;
  position: relative;
}
.mainbut{
  top: 46%;
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  left: 10%;
}
.main{
  background-color: rgb(223, 223, 223);
  width: 25%;
  height: 30px;
  border-radius: 20px;
  color: rgb(0, 80, 0);
  font-weight: bold;
  margin-right: 10px;
}
.dessert{
  background-color: rgb(223, 223, 223);
  width: 30%;
  height: 30px;
  border-radius: 20px;
  color: rgb(0, 80, 0);
  font-weight: bold;
  margin-right: 10px;
}
.veg{
  background-color: rgb(223, 223, 223);
  width: 35%;
  height: 30px;
  border-radius: 20px;
  color: rgb(0, 80, 0);
  font-weight: bold;
  margin-right: 10px;
}
.Footer{
  position: relative;
}
.Salad{
  background-color: rgb(216, 216, 216);
  width: fit-content;
  position: relative;
  width: 240px;
  left: 550px;
  top: 73px;
  border-radius: 20px;
}
.SaladNm{
  font-weight: bold;
  position: relative;
  top: 170px;
  left: 10px;
  font-size: 18px;
}
.SaladDesc{
  font-weight: normal;
  position: relative;
  top: 170px;
  color: rgb(0, 80, 0);
  left: 0px;
  width: 200px;
}
.SaladImg{
  position: relative;
  width: 240px;
  left: 0px;
  bottom: 352px;
  border-radius: 20px;
}
.SaladPrice{
  position: relative;
  font-weight: bold;
  bottom: 364px;
  color: rgb(223, 151, 103);
  left: 160px;
  font-size: 20px;
}
.line{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  bottom: 18%;
  left: 2%;
  position: absolute;
}
.brushBase{
  background-color: rgb(216, 216, 216);
  position: relative;
  left: 200px;
}
.brushNm{
  position: absolute;
  bottom: 12%;
  left: 45px;
}
.brushDesc{
  font-weight: normal;
  position: absolute;
  top: 835px;
  color: rgb(0, 80, 0);
  width: 70%;
  left: 45px;
}
.brushImg{
  top: 789px;
  position: absolute;
  width: 12%;
  left: 80%;
}
.brushPrice{
  position: absolute;
  font-weight: bold;
  top: 960px;
  color: rgb(0, 80, 0);
  left: 45px;
}
.lineTwo{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 1007px;
  left: 2%;
  position: absolute;
}
.GrilledFishNm{
  position: absolute;
  top: 108%;
  left: 45px;
}
.GrilledFishDesc{
  font-weight: normal;
  position: absolute;
  top: 1097px;
  color: rgb(0, 80, 0);
  width: 70%;
  left: 45px;
}
.GrilledFishPrice{
  position: absolute;
  font-weight: bold;
  top: 126%;
  color: rgb(0, 80, 0);
  left: 45px;
}
.lineThree{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 1267px;
  left: 2%;
  position: absolute;
}
.GrilledFishImg{
  top: 1050px;
  position: absolute;
  width: 12%;
  left: 80%;
}
.PastaNm{
  position: absolute;
  top: 1299px;
  left: 45px;
}
.PastaDesc{
  font-weight: normal;
  position: absolute;
  top: 1350px;
  color: rgb(0, 80, 0);
  width: 70%;
  left: 45px;
}
.PastaImg{
  top: 1310px;
  position: absolute;
  width: 12%;
  left: 80%;
}
.PastaPrice{
  position: absolute;
  font-weight: bold;
  top: 1470px;
  color: rgb(0, 80, 0);
  left: 45px;
}
.lineFour{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 1535px;
  left: 2%;
  position: absolute;
}
.LemonNm{
  position: absolute;
  left: 45px;
  top: 1570px;
}
.LemonDesc{
  font-weight: normal;
  position: absolute;
  top: 1620px;
  color: rgb(0, 80, 0);
  width: 70%;
  left: 45px;
}
.LemonPrice{
  position: absolute;
  font-weight: bold;
  top: 1750px;
  color: rgb(0, 80, 0);
  left: 45px;
}
.LemonImg{
  top: 1582px;
  position: absolute;
  width: 12%;
  left: 80%;
}
.lineFive{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 187%;
  left: 2%;
  position: absolute;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 4;
}
.cart{
  position: fixed;
  background-color: rgb(255, 255, 255);
  right: 0%;
  z-index: 5;
  height: 2000%;
  width: 15%;
  top: 0%;
  border: 1px solid black;
}
.headerCart{
  background-color: rgb(0, 80, 0);
  position: relative;
  width: 100%;
  height: .3%;
}
.cartText{
  color: white;
  bottom: 1%;
  left: 40%;
  position: absolute;
}
.CartBasket{
  left: 26%;
  bottom: 40%;
  position: absolute;
  width: 12%;
  height: 60%;
}
.BookNav{
  background-color: rgb(59, 102, 78);
  color:white;
  padding: 2% 2%;
  width: 96%;
  position: relative;
  top: 100px;
}
.nameTwo{
  color: rgb(224, 191, 0);
  font-family: Karla;
  font-size: 50px;
  position: relative;
}
.bookNavDesc{
  color: white;
  font-family: Karla;
}
.ReserveTxt{
  top: 373px;
  left: 100px;
  position: absolute;
}
.lineSix{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 450px;
  left: 2%;
  position: absolute;
}
.Date{
  top: 54%;
  left: 27%;
  position: absolute;
  font-weight: normal;
}
.DateBut{
  position: absolute;
  border-radius: 20px;
  background-color: rgb(201, 201, 201);
  width: 300px;
  height: 40px;
  top: 350px;
  left: 27%;
  font-size: 30px;
}
.TimeOne{
  position: absolute;
  border-radius: 20px;
  background-color: rgb(201, 201, 201);
  width: 300px;
  height: 40px;
  top: 329px;
  left: 54%;
  font-size: 30px;
}
.TimeTwo{
  border-radius: 29px;
  position: absolute;
  top: 705px;
  left: 950px;
  width: 510px;
  height: 40px;
}
.Time{
  top: 54%;
  left: 54%;
  position: absolute;
  font-weight: normal;
}
.diners{
  top: 750px;
  left: 500px;
  position: absolute;
  font-weight: normal;
}
.adults{
  position: absolute;
  top: 750px;
  font-weight: normal;
  left: 400px;
}
.lineSeven{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 830px;
  left: 2%;
  position: absolute;
}
.tod{
  position: absolute;
  top: 876px;
  font-weight: normal;
  left: 410px;
}

.dinerSlid{
  background-color: rgb(192, 192, 192);;
  top: 755px;
  left: 52%;
  width: 20%;
  height: 7%;
  border-radius: 15px;
  position: absolute;
}
.MinusOne{
  top: 15%;
  left: 13%;
  width: 20%;
  height: 70%;
  position: absolute;
}
.ValueOne{
  position: absolute;
  font-size: 50px;
  left: 45%;
  margin: auto;
  place-items: center;
}
.PlusOne{
  top: 15%;
  left: 65%;
  width: 20%;
  height: 70%;
  position: absolute;
}
.lineEight{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 963px;
  left: 2%;
  position: absolute;
}
.dinerSlidTwo{
  background-color: rgb(192, 192, 192);;
  top: 884px;
  left: 52%;
  width: 20%;
  height: 7%;
  border-radius: 15px;
  position: absolute;
}
.babies{
  position: absolute;
  top: 1010px;
  font-weight: normal;
  left: 420px;
}
.todSlid{
  top: 1141px;
  left: 52%;
  width: 20%;
  height: 4%;
  border-radius: 20px;
  position: absolute;
}
.lineNine{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 1101px;
  left: 2%;
  position: absolute;
}
.dinerSlidThree{
  background-color: rgb(192, 192, 192);;
  top: 1020px;
  left: 52%;
  width: 20%;
  height: 7%;
  border-radius: 15px;
  position: absolute;
}
.babieSlid{
  top: 1255px;
  left: 52%;
  width: 20%;
  height: 4%;
  border-radius: 20px;
  position: absolute;
}
.SubmitOne{
  top: 905px;
  left: 24%;
  background-color: yellow;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  position: absolute;
  font-weight: normal;
  font-size: 40px;
}
.BOTTEMLINEapp{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0;
  top: 1901px;
  left: 2%;
  position: absolute;
}
.BOTTEMLINEbook{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0;
  top: 1051px;
  left: 2%;
  position: absolute;
}
.Basketbook{
  height: 80%;
  position: absolute;
  left: 95%;
  top: 10%;
  height: 80%;
}
.Lemonbook{
  height: 50px;
  position: absolute;
  left: 43%;
  top: 20%
}
.Menubook{
  width : 3%;
  height: 100%;
  position: absolute;
  left: 1%;
  top: 5%
}
.AdultinCart{
  left: 0px;
  top: 0px;
  background-color: rgb(224, 224, 224);
  position: relative;
  width: 63%;
  font-size: 40px;
}
.TodinCart{
  left: 0px;
  top: 0px;
  background-color: rgb(224, 224, 224);
  position: relative;
  width: 50%;
  font-size: 40px;
}
.BabieinCart{
  left: 0px;
  top: 0px;
  background-color: rgb(224, 224, 224);
  position: relative;
  width: 40%;
  font-size: 40px;
}
.reserveDown{
  top: 1860px;
  left: 40%;
  background-color: yellow;
  width: 20%;
  height: 4%;
  border-radius: 20px;
  position: absolute;
  font-weight: bold;
}
.reserveDown-text{
  color: black;
}
.testbutton{
  z-index: 11;
  position: relative;
}
.FirstName{
  position: absolute;
  border-radius: 20px;
  background-color: rgb(201, 201, 201);
  width: 300px;
  height: 40px;
  top: 63%;
  left: 27%;
  font-size: 30px;
}
.FirstNmText{
  top: 54%;
  left: 27%;
  position: absolute;
  font-weight: normal;
}
.LastName{
  position: absolute;
  border-radius: 50px;
  background-color: rgb(201, 201, 201);
  width: 300px;
  height: 40px;
  top: 63%;
  left: 54%;
  font-size: 30px;
}
.LastNmText{
  top: 54%;
  left: 54%;
  position: absolute;
  font-weight: normal;
}
.EmailText{
  top: 74%;
  left: 27%;
  position: absolute;
  font-weight: normal;
}
.EmailName{
  position: absolute;
  border-radius: 50px;
  background-color: rgb(201, 201, 201);
  width: 800px;
  height: 40px;
  top: 83%;
  left: 27%;
  font-size: 30px;
}
.noteText{
  top: 94%;
  left: 27%;
  position: absolute;
  font-weight: normal;
}
.noteName{
  position: absolute;
  border-radius: 10px;
  background-color: rgb(201, 201, 201);
  width: 800px;
  height: 350px;
  top: 103%;
  left: 27%;
  font-size: 30px;
}
.submitBut{
  top: 150%;
  left: 40%;
  position: absolute;
  border-radius: 20px;
  background-color: yellow;
  width: 20%;
  height: 5%;
  font-size: 30px;
}
.sucbox{
  position: absolute;
  background-color: rgb(202, 202, 202);
  z-index: 12;
  border-radius: 20px;
  top: 10%;
  left: 33%;
  height: 700px;
  width: 600px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.resSuc{
  position: relative;
  font-size: 60px;
  text-align: center;
}
.MonAProved{
  position: relative;
  left: 180px;
  height: 250px;

}
.byor{
  position: relative;
  background-color: yellow;
  border-radius: 20px;
  height: 100px;
  width: 300px;
  top: 110px;
  right: 100px;
  font-size: 50px;
  font-weight: bold;
  border-color: yellow;
}
.blurs{
  filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 11;
  top: 0;
  left: 0;
}
.BOTTEMLINEnow{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0;
  top: 1500px;
  left: 2%;
  position: absolute;
}
@media (max-width: 768px) {
  .firstImg{
    bottom: 57%;
    left: 61%;
  }
  .Lemon{
    left: 188px;
  }
  .Basket{
    width: 40px;
    left: 509px;
  }
  .Menu{
    width: 30px;
    height: 80px;
    top: 1px;
  }
  .devliv{
    top: 55%;
  }
  .mainbut{
    bottom: 20%;
  }
  .reserve{
    width: auto;
  }
  .SaladNm{
    bottom: 23%;
  }
  .SaladDesc{
    bottom: 4.8%;
    width: 60%;
  }
  .SaladPrice{
    bottom: 0.01%;
  }
  .SaladImg{
    bottom: 10%;
    width: 25%;
    left: 70%;
  }
  .line{
    top: 97%;
  }
  .brushDesc{
    top: 103%;
  }
  .brushNm{
    top: 99%;
  }
  .brushPrice{
    top: 133%;
  }
  .lineTwo{
    top: 138%;
  }
  .brushImg{
    width: 25%;
    left: 70%;
    top: 113%;
  }
  .GrilledFishNm{
    top: 140%;
  }
  .GrilledFishDesc{
    top: 145%;
  }
  .lineThree{
    top: 180%
  }
  .GrilledFishPrice{
    top: 175%;
  }
  .GrilledFishImg{
    width: 25%;
    left: 70%;
    top: 153%;
  }
  .PastaNm{
    top: 182%;
  }
  .PastaDesc{
    top: 188%;
  }
  .PastaImg{
    width: 25%;
    left: 70%;
    top: 188%;
  }
  .lineFour{
    top: 207%;
  }
  .PastaPrice{
    top: 203%;
  }
  .LemonNm{
    top: 209%;
  }
  .LemonDesc{
    top: 214%;
  }
  .LemonImg{
    width: 25%;
    left: 70%;
    top: 213.7%;
  }
  .lineFive{
    top: 231%;
  }
  .LemonPrice{
    top: 227%;
  }
  .BookNav{
    position: absolute;
    width: 96.5%;
    height: 20%;
  }
  .Basketbook{
    left: 77%;
    width: 10%;
  }
  .Lemonbook{
    left: 28%;
    top: 30%;
  }
  .Menubook{
    left: 3;
    width: 10%;
  }
  .nameTwo{
    font-size: 50px;
    position: absolute;
    top: 1%;
  }
  .bookNavDesc{
    font-size: 30px;
    top: 50%;
    position: absolute;
  }
  .ReserveTxt{
  top: 34.5%;
  }
  .lineSix{
    top: 43%;
  }
  .Date{
    top: 400px;
  }
  .DateBut{
  top: 480px;
  width: 30%;
  }
  .Time{
    top: 400px;
    left: 280px;
  }
  .TimeOne{
    left: 280px;
    top: 460px;
    width: 30%;
  }
  .diners{
    top: 600px;
    left: 20px;
  }
  .dinerSlid , .dinerSlidThree , .dinerSlidTwo{
    left: 50px;
    width: 50%;
  }
  .ValueOne{
    left: 44%;
    bottom: -3px;
  }
  .adults{
    left: 69%;
  }
  .tod{
    left: 66%;
  }
  .babies{
    left: 70%;
  }
  .cart{
    width: 50%;
  }
  .cartText{
    top: -30px;
    left: 93px;
    font-size: 40px;
  }
  .CartBasket{
    top: 10px;
    left: 55px;
  }
  .closeButton{
    top:0px;
    position: absolute;
    background-color: rgb(0, 80, 0);
    outline: none;
    border: blue;
    width: 50px;
    height: 50px;
    font-size: 35px;
  }

}

