#root{
  height: 0px;
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  overflow-x: hidden;
  left: 200px;
  position: relative;
}
.App-header {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.header{
  background-color: white;
  padding: 40px 40px;
  position: relative;
  width: 96%;
  height: 20px;
  right: 160px;
}
.HeaderLinks{
  position: relative;
  bottom: 38px;
  left: 500px;
  font-weight: bold;
}
.HomeLink{
  left: 20px;
  position: relative;
}
.AboutLink{
  position: relative;
  left: 40px;
}
.MenuLink{
  position: relative;
  left: 60px;
}
.ReservationLink{
  position: relative;
  left: 80px;
}
.OnOrderLink{
  position: relative;
  left: 100px;
}
.LoginLink{
  position: relative;
  left: 120px;
}
.Lemon{
  height: 50px;
  position: relative;
  top: 20px;
}
.headerButtonTwo{
  border: none;
  background: none;
  padding: none;
}
.navFill{
  background-color: rgb(49, 80, 68);
  padding: 2% 2%;
  width: 100%;
  right: 300px;
  bottom: 45px;
  position: relative;
  height: 291px;
  border: none;
}
.Nav{
  background-color: rgb(49, 80, 68);
  padding: 2% 2%;
  width: 100%;
  height: 290px;
}
.NavContent{
  position: relative;
  left: 370px;
  bottom: 370px;
}
.name{
  position: relative;
  bottom: 30px;
  font-size: 43px;
   color: rgb(235, 202, 20);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.chicago{
  position: relative;
  bottom: 50px;
  color: white;
  font-family: roboto;
}
.desc{
  position: relative;
  bottom: 40px;
  width: 20%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.reserve{
  position: relative;
  background-color: rgb(243, 209, 15);
  width: 190px;
  height: 60px;
  bottom: 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: black;
}
.firstImg{
position: relative;
width: 300px;
bottom: 680px;
left: 750px;
overflow: hidden;
border-radius: 20px;
}
.devliv{
  left: 350px;
  top: 60px;
  position: relative;
  width: 200px;
  z-index: 11;
}
.ordDelivOne{
  border: none;
  background-color: rgb(236, 236, 236);
  background-color: none;
  font-weight: bold;
  position: relative;
  left: 17px;
  bottom: 25px;
}
.ordDelivTwo{
  border: none;
  background-color: rgb(236, 236, 236);
  background-color: none;
  font-weight: bold;
  position: relative;
  left: 17px;
  bottom: 70px;
}
.ordDelivThree{
  border: none;
  background-color: rgb(236, 236, 236);
  background-color: none;
  font-weight: bold;
  position: relative;
  left: 17px;
  bottom: 30px;
}
.OnlineMenbut{
  background-color: rgb(243, 209, 15);
  border-radius: 10px;
  border: none;
  width: 190px;
  height: 60px;
  font-weight: bold;
  font-size: 15px;
  left: 935px;
  bottom: 10px;
  position: relative;
}
.main{
  background-color: rgb(223, 223, 223);
  width: 25%;
  height: 30px;
  border-radius: 20px;
  color: rgb(0, 80, 0);
  font-weight: bold;
  margin-right: 10px;
}
.dessert{
  background-color: rgb(223, 223, 223);
  width: 30%;
  height: 30px;
  border-radius: 20px;
  color: rgb(0, 80, 0);
  font-weight: bold;
  margin-right: 10px;
}
.veg{
  background-color: rgb(223, 223, 223);
  width: 35%;
  height: 30px;
  border-radius: 20px;
  color: rgb(0, 80, 0);
  font-weight: bold;
  margin-right: 10px;
}
.Footer{
  position: relative;
}
.Salad{
  background-color: rgb(236, 236, 236);
  width: fit-content;
  position: relative;
  width: 240px;
  left: 550px;
  top: 73px;
  border-radius: 20px;
}
.SpecialCont{
  right: 200px;
  bottom: 50px;
  height: 1100px;
  position: relative;
}
.SaladNm{
  font-weight: bold;
  position: relative;
  top: 178px;
  left: 20px;
  font-size: 18px;
}
.SaladDesc{
  font-weight: normal;
  position: relative;
  top: 170px;
  color: rgb(0, 80, 0);
  left: 20px;
  width: 200px;
}
.SaladImg{
  position: relative;
  width: 240px;
  left: 0px;
  bottom: 352px;
  border-radius: 20px;
}
.SaladPrice{
  position: relative;
  font-weight: bold;
  bottom: 357px;
  color: rgb(223, 151, 103);
  left: 150px;
  font-size: 20px;
  width: 200px;
}
.brushBase{
  background-color: rgb(236, 236, 236);
  position: relative;
  left: 820px;
  bottom: 530px;
  width: fit-content;
  border-radius: 20px;
  height: 589px;
}
.brushNm{
  position: relative;
  top: 170px;
  font-size: 18px;
  left: 20px;
}
.brushDesc{
  font-weight: normal;
  position: relative;
  top: 165px;
  color: rgb(0, 80, 0);
  width: 200px;
  left: 20px;
}
.brushImg{
  bottom: 394px;
  position: relative;
  width: 240px;
  height: 162px;
  border-radius: 20px;
}
.brushPrice{
  position: relative;
  font-weight: bold;
  bottom: 398px;
  color: rgb(233, 170, 75);
  left: 155px;
  font-size: 20px;
}
.Lemondiv{
  position: relative;
  background-color: rgb(236, 236, 236);
  width: fit-content;
  left: 1090px;
  bottom: 1140px;
  height: 600px;
  border-radius: 20px;
}
.LemonNm{
  position: relative;
  left: 20px;
  top: 180px;
  font-size: 18px;
}
.LemonDesc{
  font-weight: normal;
  position: relative;
  top: 175px;
  color: rgb(0, 80, 0);
  width: 200px;
  left: 20px;
}
.LemonPrice{
  position: relative;
  font-weight: bold;
  bottom: 359px;
  color: rgb(233, 170, 75);
  left: 165px;
  font-size: 20px;
}
.LemonImg{
  bottom: 354px;
  position: relative;
  width: 239px;
  height: 163px;
  left: 0px;
  border-radius: 18px;
}
.pubfed{
  left: 620px;
  position: relative;
  top: 50px;
}
.testFill{
  background-color: rgb(255, 234, 194);
  position: relative;
  bottom: 1100px;
  width: 1000px;
  height: 798px;
  right: 1100px;
  bottom: 278px;
}
.Tesimdiv{
  background-color: rgb(255, 234, 194);
  position: relative;
  bottom: 1100px;
  height: 800px;
}

.containedallrev{
  position: relative;
  top: 80px;
  left: 120px;
}
.containedRev{
  top: 60px;
  position: relative;
}
.FirstRev{
  background-color: white;
  width: 250px;
  height: 450px;
  position: relative;
  left: 80px;
  border-radius: 20px;
}
.FirstRevStar{
  position: relative;
  left: 50px;
  bottom: 25px;
  font-weight: normal;
  font-size: 25px;
}
.FirstNamed{
  position: relative;
  left: 140px;
  bottom: 100px;
}
.PretGoodRev{
  width: 80px;
  position: relative;
  left: 40px;
  bottom: 21px;
  border-radius: 200px;
}
.FirstCom{
  bottom: 55px;
  left: 9px;
  width: 240px;
  position: relative;
}
.SecondRev{
  background-color: white;
  width: 250px;
  height: 450px;
  position: relative;
  left: 350px;
  bottom: 465px;
  border-radius: 20px;
}
.shrekrev{
  width: 80px;
  position: relative;
  left: 40px;
  bottom: 21px;
  border-radius: 200px;
}
.ThirdRev{
  background-color: white;
  width: 250px;
  height: 450px;
  position: relative;
  left: 620px;
  bottom: 939px;
  border-radius: 20px;
}
.Sansrev{
  width: 80px;
  position: relative;
  left: 40px;
  bottom: 21px;
  border-radius: 200px;
}
.ForthRev{
  background-color: white;
  width: 250px;
  height: 450px;
  position: relative;
  left: 892px;
  bottom: 1413px;
  border-radius: 20px;
}
.FifthRev{
  background-color: white;
  width: 250px;
  height: 450px;
  position: relative;
  left: 1170px;
  bottom: 1886px;
  border-radius: 20px;
}
.aboutsdiv{
  position: relative;
  height: inherit;
}
.aboutsContain{
  position: relative;
  bottom: 850px;
  height: 1px;
}
.aboutlm{
  color: rgb(73, 94, 87);
  font-size: 40px;
  position: relative;
  left: 300px;
}
.aboutchic{
  color: rgb(238, 154, 114);
  position: relative;
  left: 300px;
  font-weight: normal;
}
.aboutdescone{
  color: rgb(0, 114, 0);
  top: 20px;
  position: relative;
  left: 300px;
  width: 200px;
  font-weight: normal;
}
.aboutdesctwo{
  color: rgb(0, 114, 0);
  position: relative;
  left: 300px;
  top: 40px;
  width: 200px;
  font-weight: normal;
}
.MarioAdone{
  width: 250px;
  bottom: 450px;
  left: 740px;
  z-index: 2;
  position: relative;
}
.MarioAdtwo{
  width: 250px;
  left: 600px;
  position: relative;
  bottom:400px;
}
.footercred{
  background-color: rgb(59, 102, 78);
  right: 200px;
  position: relative;
  height: 600px;
}
.footercredbook{
  background-color: rgb(59, 102, 78);
  right: 200px;
  position: relative;
  height: 600px;
  top: 100px;
}
.footcontained{
  left: 90px;
  position: relative;
  height: 0px;
}
.footimg{
  width: 130px;
  top: 50px;
  left: 300px;
  border-radius: 9px;
  position: relative;
}
.firstcred{
  position: relative;
  left: 550px;
  bottom: 240px;
  color: white;
}
.homecred, .menucred, .reservcred, .ordercred, .logcred{
  font-weight: normal;
}
.menucred{
  position: relative;
  top: 30px;
  right: 43px;
}
.reservcred{
  position: relative;
    top: 60px;
    right: 83.3px;
}
.ordercred{
  position: relative;
  top: 90px;
  right: 171px;
}
.logcred{
  position: relative;
  top: 120px;
  right: 262px;
}
.secondcred{
  left: 850px;
  position: relative;
  bottom: 343px;
  width: 500px;
  color: white;
}
.locacred{
  font-weight: normal;
  width: 245px;
  font-size: 20px;
}
.numcred{
  position: relative;
  top: 5px;
}
.emcred{
  position: relative;
  top: 40px;
  right: 126px;
}
.thirdcred{
  position: relative;
  left: 1200px;
  bottom: 540px;
  color: white;
}
.instacred{
  position: relative;
  right: 66.5px;
  top: 30px;
}
.twitcred{
  position: relative;
  right: 136px;
  top: 60px;
}
.botcred{
  bottom: 300px;
  left: 650px;
  position: relative;
  color: white;
}
.botcredone{
  font-weight: normal;
}
.botcredtwo{
  position: relative;
  right: 80px;
  font-weight: normal;
}

/* booking.js */

.quickfix{
  top: 130px;
  position: relative;
}
.BookNav{
  background-color: rgb(59, 102, 78);
  color:white;
  padding: 2% 2%;
  width: 96%;
  position: relative;
  right: 200px;
  top: 100px;
}
.nameTwo{
  color: rgb(224, 191, 0);
  font-family: Karla;
  font-size: 50px;
  position: relative;
}
.bookNavDesc{
  color: white;
  font-family: Karla;
}
.ReserveTxt{
  top: 373px;
  left: 100px;
  position: relative;
}
.lineSix{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 450px;
  left: 2%;
  position: relative;
}
.Date{
  bottom: 240px;
  left: 500px;
  position: relative;
  font-weight: normal;
}
.DateBut{
  position: relative;
  border-radius: 5px;
  background-color: rgb(237, 239, 238);
  width: 500px;
  height: 90px;
  bottom: 250px;
  left: 27%;
  font-size: 30px;
  border: none;
}
.TimeOne{
  position: relative;
  border-radius: 5px;
  background-color: rgb(237, 239, 238);
  width: 500px;
  height: 90px;
  bottom: 250px;
  left: 27%;
  font-size: 30px;
  border: none;
  z-index: 2;
}
.TimeTwo{
  border-radius: 29px;
  position: relative;
  top: 705px;
  left: 950px;
  width: 510px;
  height: 40px;
}
.Time{
  bottom: 239px;
  left: 500px;
  position: relative;
  font-weight: normal;
}
.diners{
  bottom: 280px;
  z-index: 2;
  left: 500px;
  position: relative;
  font-weight: normal;
}
.datecontain{
  bottom: 39px;
  position: relative;
}
.dinerscontain{
  top: 40px;
  position: relative;
}
.datecontain, .Timecontain, .dinerscontain{
  position: relative;
  top: 100px;
}
.Timecontain{
  position: relative;
  top: 80px;
}
.adults{
  position: relative;
  top: 750px;
  font-weight: normal;
  left: 400px;
}
.lineSeven{
  width: 95%;
  height: 2px;
  background-color: rgb(192, 192, 192);
  margin: 20px 0;
  opacity: 0.5;
  top: 830px;
  left: 2%;
  position: relative;
}
.tod{
  position: relative;
  top: 876px;
  font-weight: normal;
  left: 410px;
}
.dinerSlid{
  position: relative;
  border-radius: 5px;
  background-color: rgb(237, 239, 238);
  width: 500px;
  height: 90px;
  bottom: 280px;
  left: 27%;
  font-size: 30px;
  border: none;
}
.MinusOne{
  bottom: 5px;
  left: 13%;
  width: 20%;
  height: 70%;
  position: relative;
  z-index: 2;
}
.ValueOne{
  position: relative;
  font-size: 50px;
  left: 130px;
  top: 10px;
  margin: auto;
  place-items: center;
}
.PlusOne{
  bottom: 5px;
  left: 200px;
  width: 20%;
  height: 70%;
  position: relative;
  z-index: 2;
}
.BOOKEDNOW{
  position: relative;
  left: 600px;
  top: 40px;
  opacity: 0;

font-size: 50px;}
.SubmitOne{
  position: relative;
  bottom: 610px;
  left: 500px;
  background-color: rgb(244, 206, 20);
  width: 500px;
  height: 80px;
  border-radius: 20px;
  font-weight: normal;
  font-size: 40px;
  border: none;
}
.Ocassion{
  position: relative;
  bottom: 285px;
  left: 505px;
  font-weight: normal;
}
.Occsel{
  position: relative;
  left: 27%;
  bottom: 280px;
  width: 500px;
  height: 90px;
  border: none;
  background-color: rgb(237, 239, 238);
  border-radius: 5px;
  font-size: 30px;
}
/* BookNow.js */

.nowcontentcont{
  position: relative;
  top: 50px;
}
.Reservedd{
  position: relative;
  left: 500px;
}
.sees{
  position: relative;
  left: 650px;
  top: 15px;
  font-weight: normal;
}
.Reserveddbox{
  background-color: rgb(73, 94, 87);;
  position: relative;
  left: 540px;
  top: 80px;
  width: 400px;
  border-radius: 20px;
  height: 300px;
  z-index: 2;
}
.condet{
  color: rgb(244, 206, 20);
  font-weight: normal;
}
.comcont{
  left: 35px;
  top: 15px;
  font-size: 20px;
  position: relative;
}
.occ, .gu, .dat, .tim{
  color: white;
}
.bacbut{
  border: none;
  border-radius: 20px;
  background-color: rgb(244, 206, 20);
  width: 400px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  top: 140px;
  left: 540px;
  position: relative;
}
.footercrednow{
  background-color: rgb(59, 102, 78);
  right: 200px;
  position: relative;
  height: 600px;
  top: 200px;
}
@media (max-width: 768px) {
  body{
    left: 40px;
    width: 0px;
    overflow-x: hidden;
  }
  .header{
    right: 570px;
    bottom: 10px;
    width: 590px;
  }
  .navFill{
    position: relative;
    opacity: 0%;
  }
  .Nav{
    right: 168px;
    position: relative;
    width: 897px;
    height: 900px;
  }
  .NavContent{
    top: 20px;
    font-size: 20px;
    width: 730px;
    width: 200px;
  }
  .name{
    bottom: 350px;
    font-size: 100px;
    right: 130px;
    width: 600px;
  }
  .chicago{
    font-size: 70px;
    bottom: 400px;
    left: 40px;
    width: 200px;
  }
  .desc{
    bottom: 420px;
    right: 90px;
    text-align: center;
    font-size: 30px;
    width: 500px;
  }
  .reserve{
    bottom: 400px;
    left: 10px;
    width: 300px;
    height: 80px;
    font-size: 30px;
  }
  .firstImg{
    bottom: 320px;
    left: 280px;
    width: 500px;
  }
  .Main{
    top: 300px;
    font-size: 50px;
    right: 200px;
    position: relative;
    z-index: 2;
  }
  .aboutlm{
    width: 400px;
  }
  .OnlineMenbut{
    top: 50px;
    left: 390px;
    font-size: 30px;
    width: 300px;
    height: 90px;
  }
  .AllSpecCont{
    position: relative;
    top: 600px;
  }
  .containedallrev{
    width: 500px;
  }
  .AllSpecCont{
    top: 365px;
    right: 130px;
  }
  .Salad{
    width: 350px;
    left: 500px;
  }
  .SaladNm{
    top: 260px;
  }
  .SaladPrice{
    bottom: 347px;
    left: 250px;
  }
  .SaladDesc{
    top: 260px;
    width: 200px;
    left: 75px;
    text-align: center;
  }
  .aboutchic{
    width: 200px;
  }
  .footcontained{
    width: 200px;
  }
  .SaladImg{
    width: 350px;
  }
  .brushBase{
    top: 95px;
    left: 500px;
    width: 350px;
    height: 720px;
  }
  .brushNm{
    top: 270px;
  }
  .brushPrice{
    bottom: 385px;
    left: 255px;
    width: 100px;
  }
  .brushDesc{
    top: 280px;
    text-align: center;
    left: 70px;
  }
  .brushImg{
    width: 350px;
    height: 250px;
  }
  .ordDelivTwo{
    bottom: 20px;
  }
  .Lemondiv{
    top: 120px;
    left: 500px;
    width: 350px;
  }
  .LemonImg{
    width: 350px;
    height: 210px;
  }
  .LemonNm{
    top: 230px;
  }
  .LemonDesc{
    top: 230px;
    text-align: center;
    left: 70px;
  }
  .LemonPrice{
    bottom: 354px;
    left: 250px;
    width: 200px;
  }
  .ordDelivThree{
    bottom: 60px;
  }
  .testFill{
    opacity: 0%;
  }
  .Tesimdiv{
    top: 580px;
    right: 40px;
    height: 1650px;
    width: 770px;
  }
  .pubfed{
    left: 265px;
    width: 300px;
  }
  .FirstRev{
    left: 140px;
  }
  .FirstRevStar{
    left: 40px;
  }
  .SecondRev{
    top: 20px;
    left: 140px;
    bottom: 20px;
  }
  .ThirdRev{
    top: 30px;
    left: 140px;
  }
  .ForthRev{
    top: 40px;
    left: 140px;
    opacity: 0;
  }
  .aboutsdiv{
    top: 1450px;
    right: 200px;
  }
  .MarioAdone{
    left: 600px;
    width: 200px;
  }
  .MarioAdtwo{
    width: 200px;
    left: 650px;
    bottom: 610px;
    z-index: 2;
  }
  .footercred{
    top: 1200px;
    width: 930px;
    height: 750px;
  }
  .footimg{
  opacity: 0;
  }
  .firstcred{
    left: 200px;
    width: 400px;
  }
  .secondcred{
    left: 500px;
    width: 320px;
  }
  .thirdcred{
    left: 200px;
    bottom: 280px;
    width: 630px;
  }
  .socclas{
    width: 200px;
  }
  .botcred{
    bottom: 150px;
    left: 250px;
    width: 580px;
  }
  .botcredone{
    width: 450px;
  }
  .lemfoot{
    width: 230px;
  }

  /* Booking */

  .quickfix{
    width: 600px;
  }
  .Date{
    left: 350px;
    width: 190px;
  }
  .DateBut{
    left: 205px;
  }
  .datecontain{
    right: 125px;
  }
  .Time{
    left: 230px;
    width: 190px;
  }
  .TimeOne{
    left: 85px;
  }
  .dinerSlid{
    left: 85px;
  }
  .diners{
    left: 190px;
    width: 300px;
  }
  .Occsel{
    left: 85px;
  }
  .Ocassion{
    left: 260px;
    width: 200px;
  }
  .SubmitOne{
    left: 85px;
    bottom: 710px;
  }
  .footercredbook{
    width: 928px;
  }
  .botcred{
    bottom: 230px;
  }
  #root{
    width: 20px;
  }

  /*bookNow*/

  .nowcontentcont{
    position: relative;
    right: 425px;
  }
  .Reservedd{
    position: relative;
    width: 300px;
    text-align: center;
    bottom: 70px;
    left: 620px;
  }
  .sees{
    width: 1px;
    opacity: 0;
  }
  .Reserveddbox{
    position: relative;
    left: 150px;
    top: -100px;
  }
  .bacbut{
    left: 150px;
    top: -40px;
  }
  .footercrednow{
    z-index: 2;
    width: 928px;
    top: 20px;
  }
  .botcred{
    bottom: 170px;
  }
  .footercredbook{
    height: 700px;
  }
}